.full-banner-form {
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/c6Bank/hero-bg.webp);
    background-size: cover;
    

    .container-login {
        width: 420px;
        height: 40vh;
        display: flex;
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            label {
                width: 70%;
                display: flex;
                flex-direction: column;
                input {
                    width: 100%;
                    border:3em;
                }
            }
            P { margin: 0;}
        }
    }
    //prova
    //elementos semanticos da html5
    //principais propriedades do css3
}